doctype html
html(lang="nl")
    block head
        head
            meta(charset="UTF-8") 
            meta(http-equiv="X-UA-Compatible" content="ie=edge") 
            meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0, user-scalable=yes") 
            meta(name="robots" content="all") 
            meta(name="Description" content=description) 
            meta(name="copyright" content="Copyright Webdesignpuntnl Culemborg") 
            link(href=`${path}css/main.css` rel='stylesheet')

            title Atomic Design - #{title}
        body
            block header
                
            block navigation 
                        
            block content
                        
            block script
        