extends layout/layout

block prepend head
    - var page = "index"
    - var title = "with PUG"
    - var description = "Webdesignpuntnl Culemborg is een eenmanszaak gespecialiseerd in het ontwerpen en bouwen van websites."
    - var path = ""

block content
    h1 Atomic design with PUG
    p trying to build an Atomic Design system with PUG